<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyA7gKTXNh_9zp6DS8NsTfw0J-aPK5Vf1Fc</string>
	<key>GCM_SENDER_ID</key>
	<string>170183702818</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.junghoon.Pantry</string>
	<key>PROJECT_ID</key>
	<string>pantry-13fa7</string>
	<key>STORAGE_BUCKET</key>
	<string>pantry-13fa7.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:170183702818:ios:c5a606c781449b93958d7b</string>
</dict>
</plist>